/* add style to h1 that is used as main title for website */

.title_style {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: rgb(19, 134, 44);
    font-weight: bold;
    background-color: rgb(39, 2, 10);
}

/* add style to list titles */

.text_style {
    font-family: monospace;
    font-size: 30px;
    background-color: rgb(235, 202, 232);
    font-weight: bold;
}

.text_style2 {
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(240, 214, 238);
    font-weight: bold;
}


.text_style3 {
    font-family: monospace;
    font-size: 15px;
    background-color: rgb(219, 196, 218);
    font-weight: bold;
}

/* add picture of kebab so main webpage looks more stylish */

.kebab {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* add more style to site Perfect thumbprint cookies */

.title-thumb {
    color: rgb(228, 21, 21);
    background-color: rgba(32, 17, 117, 0.8);
    padding: 10px;
    text-align: center;
    border: outset;
    margin: 10px 0px;
    width: 482px;
    height: auto;
}

.button-dis {
    margin: 10px 0px 0px;
    width: 140px;
    height: 40px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}

.ingredient_title {
    color: rgb(12, 12, 12);
    background-color: aqua;
    padding: 10px;
    border: 10px outset;
    width: 402px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

.list_items{
    color: rgb(4, 4, 68);
    background-color: aquamarine;
    border: solid;
    width: 400px;
    padding: 10px 18px;
    font-family: "Monaco";
}

.steps-thumb {
    background-color: bisque;
    border: solid;
    padding: 10px;
    width: 416px;
    height: auto;
}

.list-steps-thumb {
    background-color: blanchedalmond;
    border: 4px  dashed brown;
    padding: 10px 30px;
    width: 856px;
}

.img_thumbprint_cookies {
    height: auto;
    width: 500px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    border: solid;
}


/* add background color and font to some of our pages */
body {
    background-color: rgb(158, 161, 131);
    font-family: monospace;
    margin: 10px;
    box-sizing: border-box;
}

p {
    color: rgb(0, 0, 0);
    background-color: rgb(173, 137, 137);
    opacity: 0,5;
    border: 2px solid;
    padding: 10px;
    margin: 10 auto;
    width: 900px;

}